
<table id="admin" class="data table table-striped no-margin">
    <thead>
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td> </td>
            </tr>


    </tbody>
</table>
