@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
</head>
<body>
    <!--<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>-->
    <!--
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                <div class="count patients"></div>
                <h3>Total Patients</h3>
                <p class="count_bottom"><i class="green todayspatients"> </i> Added From Today</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-comments-o"></i></div>
                <div class="count appointments"></div>
                <h3>Total Appointments</h3>
                <p class="count_bottom"><i class="green todaysappointments"> </i>  For Today</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
                <div class="count doctors"></div>
                <h3>Total Doctors</h3>
                <p class="count_bottom"><i class="green availabledoctors"> </i> Doctors Available</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o"></i></div>
                <div class="count users"></div>
                <h3>Total Users</h3>
                <p class="count_bottom"><i class="green activeaccounts"> </i> Active Accounts</p>
            </div>
        </div>
    </div>-->
    @*
        @section scripts{
            <script>
                $(document).ready(function () {
                //render total patient
                $.get('../../../Home/TotalPatients', null, function (data) {
                    $('.patients').append(data);
                }, 'json');

                $.get('../../../Home/TotalDoctors', null, function (data) {
                    $('.doctors').append(data);
                }, 'json');

                $.get('../../../Home/TotalUsers', null, function (data) {
                    $('.users').append(data);
                }, 'json');

                });

            </script>
        }*@
    <h1 style="text-align:center">Patient Management System</h1>
    <img src="@Url.Content("~/Images/Background4.png")" alt="IMAGES" class="center" />
</body>
</html>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>


