@model IEnumerable<PatientManagementSystem.Models.Patient>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients  @Html.ActionLink("New Patient", "New", "Patient", null, new { @class = "btn btn-primary pull-right" })</h2>
<hr style="height:2px; width:100%; border-width:0; color:cadetblue; background-color:cadetblue">
<br />

<table id="patients" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Patient</th>
            <th>ID Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!--   <a id ="newPatient" href='@*@Url.Action("New", "Patient", null)*@'>
       <input type='button' class="btn btn-primary" value='New Patient' />
   </a> -->



@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#patients").DataTable({ //Populate Datatable with Data from patient API
                ajax: {
                    url: "/api/patients",
                    dataSrc: ""
                },
                columns: [ //Populate columns
                    {
                        data: "name", //Populate Patient Name
                        render: function (data, type, patient) {
                            return patient.name + " " + patient.surname; // populate Name and surname
                        }
                    },
                    {
                        data: "idNo" // Populate patient Id Number
                    },
                    {
                        data: "patientId",
                        render: function (data, type, patient) {
                            return "<button class='btn btn-danger btn-xs js-delete' data-patient-id=" + data + ">Delete</button>" + " " + // Polulate Delete button
                                "<a href='/patient/edit/" + patient.patientId + "' class='btn btn-success btn-xs' role='button'>Edit</a>" + " " +
                                "<a href='/appointment/new/" + patient.patientId + "' class='btn btn-primary btn-xs' role='button'>Make Appointment</a>" + " " +
                                "<a href='/payment/new/" + patient.patientId + "' class='btn btn-primary btn-xs' role='button'>Payments</a>";// Polulate Vaccination button
                        }
                    }
                ]
            });
            //Handle Delete Button Click
            $("#patients").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this Patient?", function (result) { //Style confirmation box
                    if (result) {
                        $.ajax({ // Call delete method from API
                            url: "/api/patients/" + button.attr("data-patient-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            })
        });
    </script>
}

